.comment-username-and-edit-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-comment-btn {
    background-color: #b83dba;
    border: none;
    color: white;
    font-weight: bold;
    height: 20px;
    width: 60px;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
    margin-right: 15px;
    font-family: 'Lucida Sans Unicode';
}

.comment-wrap {
    border-bottom: 1px solid rgb(84, 84, 84);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    height: 100px;
}

.comment {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 18px;
    padding-left: 25px;
    font-family: 'Lucida Sans Unicode';
    height: 100%;
}

.comment-username {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    padding-left: 10px;
    font-family: 'Lucida Sans Unicode';
    height: 100%;
    width: 100%;
}
