.queet-comment-wrap {
    border-left: 1px solid rgb(84, 84, 84);
    border-right: 1px solid rgb(84, 84, 84);
    color: white;
}

.single-queet-username {
    font-weight: bold;
    font-size: 25px;
    margin: 15px;
}

.single-queet-edit-btn {
    background-color: #b83dba;
    border: none;
    color: white;
    font-weight: bold;
    height: 20px;
    width: 60px;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
    margin-right: 15px;
}

.single-queet {
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.single-queet-timestamp {
    border-bottom: 1px solid rgb(84, 84, 84);
    margin: 15px;
    color: gray;
}

.single-queet-stats {
    border-bottom: 1px solid rgb(84, 84, 84);
    margin: 15px;
    color: gray;
}

.single-queet-icons {
    border-bottom: 1px solid rgb(84, 84, 84);
    margin: 15px;
    color: gray;
}

.single-username-and-edit-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
