/* TODO Add site wide styles */
#everything {
    background-color: #15202b;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/* textarea {
    font-family: 'Lucida Sans Unicode';
} */
