.sidebar-add-queet-wrap {
    display: flex;
    width: 600px;
    height: 250px;
    color: white;
    flex-direction: column;
}

.sidebar-add-queet-close-btn-and-title {
    display: flex;
    align-items: center;
}

.sidebar-add-queet-close-btn-container {
    margin-left: 8px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 25px;
    color: white;
    margin-left: 15px;
}

.sidebar-add-queet-close-btn-container:hover {
    background-color: #27323d;
    transition: all;
    transition-duration: 200ms;
}

.sidebar-add-queet-close-btn {
    height: 25px;
    width: 25px;
}

.sidebar-add-queet-title {
    font-family: 'Lucida Sans Unicode';
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.sidebar-add-queet-form {
    display: grid;
    grid-template-columns: 1fr 12fr;
    margin-top: 15px;
}

.sidebar-add-queet-profile-pic {
    height: 44px;
    width: 44px;
    border-radius: 22px;
    margin-left: 15px;
}

.sidebar-add-queet-first-half {
    border-bottom: 1px solid gray;
    width: 96%;
}

.sidebar-add-queet-input {
    display: flex;
    width: 95%;
    font-size: 15px;
    outline: none;
    border: none;
    height: 115px;
    background-color: transparent;
    color: white;
    resize: none;
    margin-left: 15px;
    font-family: 'Lucida Sans Unicode';
}

.sidebar-add-queet-input::-webkit-scrollbar {
    display: none;
}

.sidebar-add-queet-second-half {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.sidebar-add-queet-img-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.sidebar-add-queet-img-upload-container:hover {
    background-color: #25394e;
    transition: all;
    transition-duration: 200ms;
}

.sidebar-add-queet-img-upload-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-add-queet-img-icon {
    color: #b83dba;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.sidebar-add-queet-img-input {
    display: none;
}

.sidebar-add-queet-img-standby {
    display: flex;
    align-items: center;
}

.sidebar-add-queet-img-delete-btn {
    cursor: pointer;
    height: 20px;
    width: 20px;
    color: white;
    margin-right: 15px;
}

.sidebar-add-queet-img-delete-btn:hover {
    color: rgb(219, 219, 219);
    transition: all;
    transition-duration: 200ms;
}

.sidebar-add-queet-img-name {
    color: white;
    font-family: 'Lucida Sans Unicode';
    margin-top: 0px;
    margin-bottom: 0px;
}

.sidebar-add-queet-progress-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}

.sidebar-add-queet-progress {
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-right: 15px;
}

.sidebar-add-queet-char-total {
    font-family: 'Lucida Sans Unicode';
    color: white;
}

.sidebar-add-queet-char-total-red {
    font-family: 'Lucida Sans Unicode';
    color: red;
}

.sidebar-add-queet-char-max {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Lucida Sans Unicode';
    color: white;
}

.sidebar-add-queet-btn {
    font-family: 'Lucida Sans Unicode';
    background-color: #b83dba;
    border: none;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

.sidebar-add-queet-btn:hover {
    background-color: #98309a;
}

.sidebar-add-queet-btn:disabled {
    opacity: 40%;
    cursor: default;
}

/* BOTTOM */






/* {content.length <= 280 ? "add-queet-input" : "add-queet-input-red"} */

/* .add-queet-input-red {
    display: flex;
    width: 95%;
    font-size: 20px;
    outline: none;
    border: 1px solid red;
    height: 70px;
    background-color: transparent;
    color: white;
    resize: none;
    margin-left: 15px;
    font-family: 'Lucida Sans Unicode';
    border-radius: 10px;
} */

/* .add-queet-input-red::-webkit-scrollbar {
    display: none;
} */

/* .sidebar-profile-pic {
    height: 45px;
    width: 45px;
    border-radius: 20px;
    object-fit: cover;
    margin-top: 5px;
    margin-left: 11px;
} */

/* .sidebar-add-img-btn {
    height: 25px;
    width: 25px;
    color: #b83dba;
    cursor: pointer;
    transition: ease-out;
    transition-duration: 150ms;
} */

/* .sidebar-add-img-btn:hover {
    transform: scale(1.5);
} */

/* .sidebar-queet-upload-img-form {
    background-color: #b83dba;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 400px;
    border-radius: 20px;
    margin-left: 40px;
    margin-top: 15px;
} */

/* .sidebar-queet-upload-img-input {
    background-color: transparent;
    color: white;
} */

/* .queet-upload-img-wrap {
    background-color: #b83dba;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 400px;
    border-radius: 20px;
} */

/* .sidebar-queet-upload-img-input {
    margin-right: 30px;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
} */

/* .sidebar-queet-upload-img-btn {
    margin-left: 30px;
} */

/* .sidebar-queet-upload-img-btn {
    font-family: 'Lucida Sans Unicode';
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
} */
