.sidebar-queet-modal-main-btn {
    font-family: 'Lucida Sans Unicode';
    background-color: #b83dba;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    cursor: pointer;
}

.sidebar-queet-modal-main-btn:hover {
    background-color: #a935ab;
    transition: all;
    transition-duration: 200ms;
}
