.sidebar-add-queet-form {
    display: grid;
    grid-template-columns: 1fr 8fr;
    height: 280px;
    width: 600px;
}

.sidebar-queet-close-btn {
    height: 25px;
    width: 25px;
}

.sidebar-queet-close-btn-container {
    margin-left: 8px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 25px;
    color: white;
}

.sidebar-queet-close-btn-container:hover {
    background-color: #27323d;
    transition: all;
    transition-duration: 200ms;
}

.sidebar-add-queet-first-half {
    display: flex;
    flex-direction: column;
}

.sidebar-add-queet-second-half {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-add-queet-btn {
    font-family: 'Lucida Sans Unicode';
    background-color: #b83dba;
    border: none;
    color: white;
    font-weight: bold;
    height: 37px;
    width: 75px;
    border-radius: 25px;
    font-size: 15px;
    cursor: pointer;
}

.sidebar-add-queet-btn:disabled {
    opacity: 40%;
    cursor: default;
}

.sidebar-add-queet-input {
    display: flex;
    align-items: center;
    height: 120px;
    width: 490px;
    font-size: 20px;
    outline: none;
    background-color: transparent;
    color: white;
    resize: none;
    font-family: 'Lucida Sans Unicode';
    margin-top: 40px;
    border: none;
}

.sidebar-profile-pic {
    height: 46px;
    width: 46px;
    border-radius: 23px;
    object-fit: cover;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.sidebar-add-img-btn {
    height: 25px;
    width: 25px;
    color: #b83dba;
    cursor: pointer;
    transition: ease-out;
    transition-duration: 150ms;
}

.sidebar-add-img-btn:hover {
    transform: scale(1.5);
}

.sidebar-icons-and-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 55px;
    border-top: 1px solid rgb(154, 154, 154);
    padding-top: 10px;
    width: 95%;
}

.sidebar-queet-upload-img-form {
    background-color: #b83dba;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 350px;
    border-radius: 20px;
    border: none;
}

/* .queet-upload-img-wrap {
    background-color: #b83dba;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 400px;
    border-radius: 20px;
} */

.sidebar-queet-upload-img-input {
    margin-right: 30px;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-family: 'Lucida Sans Unicode';
    margin-left: 10px;
}

.sidebar-queet-upload-img-input::placeholder {
    color: rgb(228, 228, 228);
}

.sidebar-queet-upload-img-btn {
    margin-left: 30px;
}

.sidebar-queet-upload-img-btn {
    font-family: 'Lucida Sans Unicode';
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
}
