.profile-feed-wrap {
    border-left: 1px solid rgb(84, 84, 84);
    border-right: 1px solid rgb(84, 84, 84);
    color: white;
    border-bottom: 1px solid rgb(84, 84, 84);
}

.profile-title-wrap {
    display: flex;
    align-items: center;
}

.profile-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: bold;
    color: white;
    font-family: 'Lucida Sans Unicode';
    font-size: 15px;
    margin-right: 5px;
}

.profile-add-queet {
    border-bottom: 1px solid rgb(84, 84, 84);
}

.profile-title-and-tweet-ammount {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 15px;
    align-items: center;
}

.profile-amount-of-tweets {
    color: gray;
    font-size: 15px;
}

.profile-feed-back-button {
    text-decoration: none;
    color: white;
    height: 23px;
    width: 23px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 15px;
}
