.profile-feed-wrap {
    border-left: 1px solid rgb(84, 84, 84);
    border-right: 1px solid rgb(84, 84, 84);
    color: white;
    border-bottom: 1px solid rgb(84, 84, 84);
}

.profile-header-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.profile-title {
    font-weight: bold;
    color: white;
    margin-left: 15px;
    font-family: 'Lucida Sans Unicode';
    font-size: 20px;
}

.profile-add-queet {
    border-bottom: 1px solid rgb(84, 84, 84);
}
