.queet-edit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #15202b;
    border: 2px solid gray;
    color: white;
    font-weight: bold;
    height: 20px;
    width: 60px;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
    margin-right: 15px;
    font-family: 'Lucida Sans Unicode';
}

.queet-edit-btn:hover {
    background-color: #b83dba;
    transition: all;
    transition-duration: 200ms;
}
