.queet-comment-wrap {
    border-left: 1px solid rgb(84, 84, 84);
    border-right: 1px solid rgb(84, 84, 84);
    color: white;
    border-bottom: 1px solid rgb(84, 84, 84);
}

.thread {
    font-weight: bold;
    color: white;
    margin-left: 15px;
    font-family: 'Lucida Sans Unicode';
    font-size: 20px;
}

.thread-and-back-button {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.back-button {
    text-decoration: none;
    color: white;
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 15px;
}

.single-queet-username {
    font-family: 'Lucida Sans Unicode';
    font-weight: bold;
    font-size: 25px;
    margin: 15px;
}

.single-queet-edit-btn {
    font-family: 'Lucida Sans Unicode';
    background-color: #b83dba;
    border: none;
    color: white;
    font-weight: bold;
    height: 20px;
    width: 60px;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
    margin-right: 15px;
}

.single-queet {
    font-family: 'Lucida Sans Unicode';
    font-size: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.single-queet-timestamp {
    border-bottom: 1px solid rgb(84, 84, 84);
    margin-left: 15px;
    margin-right: 15px;
    color: gray;
    padding-bottom: 5px;
}

.single-queet-stats {
    border-bottom: 1px solid rgb(84, 84, 84);
    color: gray;
    margin-left: 15px;
    margin-right: 15px;
}

.single-queet-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(84, 84, 84);
    color: gray;
    padding-left: 15px;
    padding-right: 15px;
}

.single-queet-icon-and-stat {
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-username-and-edit-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-queet-icon-info {
    margin-left: 5px;
}
