.queet-comment-wrap {
    border-left: 1px solid rgb(84, 84, 84);
    border-right: 1px solid rgb(84, 84, 84);
    color: white;
    border-bottom: 1px solid rgb(84, 84, 84);
    width: 500px;
}

.thread {
    font-weight: bold;
    color: white;
    margin-left: 15px;
    font-family: 'Lucida Sans Unicode';
    font-size: 20px;
}

.thread-and-back-button {
    display: flex;
    align-items: center;
}

.single-queet-back-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 5px;
}

.single-queet-back-button {
    text-decoration: none;
    color: white;
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 15px;
}

.single-queet-back-btn-container:hover {
    background-color: #27323d;
    transition: all;
    transition-duration: 200ms;
}

.single-queet-pic-names-and-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin-right: 10px;
}

.single-queet-pic-and-names {
    display: flex;
    align-items: center;
}

.single-queet-profile-pic {
    height: 44px;
    width: 44px;
    border-radius: 22px;
    margin-left: 15px;
}

.single-queet-names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

.single-queet-username {
    color: gray;
    font-family: 'Lucida Sans Unicode';
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
}

.single-queet-display-name {
    display: flex;
    align-items: flex-end;
    font-family: 'Lucida Sans Unicode';
    font-weight: bold;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* .single-queet {
    font-family: 'Lucida Sans Unicode';
    font-size: 23px;
    margin-left: 15px;
    margin-bottom: 20px;
} */

.single-queet {
    text-decoration: none;
    color: white;
    font-size: 23px;
    padding-left: 10px;
    font-family: 'Lucida Sans Unicode';
    margin-left: 15px;
    margin-bottom: 20px;
    width: 92%;
    resize: none;
    border: none;
    outline: none;
    background-color: transparent;
    overflow-x: hidden;
    word-wrap: break-word;
}

.single-queet-content-lines {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 5px;
}

.single-queet-timestamp {
    border-bottom: 1px solid rgb(84, 84, 84);
    margin-left: 25px;
    margin-right: 25px;
    color: gray;
    padding-bottom: 5px;
}

.single-queet-stats {
    border-bottom: 1px solid rgb(84, 84, 84);
    color: gray;
    margin-left: 15px;
    margin-right: 15px;
}

.single-queet-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(84, 84, 84);
    color: gray;
    padding-left: 15px;
    padding-right: 15px;
}

.single-queet-icon-and-stat {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.single-username-and-edit-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-queet-icon-info {
    margin-left: 5px;
}

.single-queet-img-container {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-queet-img {
    max-width: 300px;
    max-height: 300px;
}
