.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.home {
    font-weight: bold;
    color: white;
    margin-left: 15px;
    font-family: 'Lucida Sans Unicode';
}

.refresh {
    height: 30px;
    width: 30px;
    cursor: pointer;
    color: #b83dba;
    margin-top: 15px;
    margin-right: 15px;
    transition: all;
    transition-duration: 500ms;
}

.refresh:hover {
    transform: rotate(180deg);
}

.refresh:active {
    transform: scale(1.5);
}

.feed-wrap {
    height: 100%;
    width: 500px;
}
