.login-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 600px;
    height: 260px;
}

.login-header {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(154, 154, 154);
    padding-bottom: 8px;
}

.login-btn-and-title {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Lucida Sans Unicode';
}

.login-close-btn {
    height: 20px;
    width: 20px;
}

.login-close-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 20px;
}

.login-close-btn-container:hover {
    background-color: #27323d;
    transition: all;
    transition-duration: 200ms;
}

.login-title-txt-one {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 30px;
}

.login-submit-btn {
    font-family: 'Lucida Sans Unicode';
    background-color: white;
    width: 70px;
    outline: none;
    border-radius: 15px;
    border: none;
    height: 30px;
    font-weight: bold;
    color: rgb(69, 69, 69);
    cursor: pointer;
}

.login-submit-btn:hover {
    background-color: rgb(234, 233, 233);
}

.login-form {
    color: white;
    font-family: 'Lucida Sans Unicode';
    overflow-y: scroll;
    overflow-x: hidden;
}

.login-input {
    margin-top: 0px;
    color: white;
    font-family: 'Lucida Sans Unicode';
    background-color: transparent;
    border: none;
    margin-left: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    width: 95%;
    resize: none;
    margin-right: 38px;
    outline: none;
}

.login-label {
    margin: 8px;
    margin-bottom: 0px;
    margin-top: 8px;
    font-size: 13px;
    color: rgb(154, 154, 154);
}

.login-field-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 15px;
}

.login-field-container:focus-within {
    border: 2px #b83dba solid;
}
