.splash-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%;
    height: 98vh; */
    font-family: 'Lucida Sans Unicode';
    color: white;
    height: 100%;
    width: 100%;
}

.splash-all-minus-footer {
    display: flex;
    height: 850px;
    width: 100%;
    /* height: 850px;
    width: 1900px; */
}

.splash-backdrop {
    height: 850px;
    width: 100%;
    object-fit: cover;
}

.splash-left {
    height: 850px;
    width: 100%;
    /* background-size: cover; */
    /* background-image: url("https://live.staticflickr.com/65535/52221327933_83fc0d6219_b.jpg"); */
}

/* @media screen and (max-width:) {} */

.splash-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
}

.splash-logo {
    margin-top: 70px;
    height: 80px;
    width: 80px;
    margin-left: 35px;
}

.splash-slogan {
    font-family: 'Lucida Sans Unicode';
    height: 90px;
    width: 550px;
    font-weight: bold;
    font-size: 70px;
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: 35px;
}

.splash-txt {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 50px;
    width: 400px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 48px;
    margin-bottom: 0px;
    margin-left: 35px;
}

/* .splash-demo-btn {
    width: 300px;
    height: 40px;
    font-family: 'Lucida Sans Unicode';
    background-color: white;
    color: black;
    border: none;
    margin-top: 16px;
} */

/* .splash-signup-container {
    width: 300px;
    height: 40px;
    font-family: 'Lucida Sans Unicode';
    background-color: rgb(206, 63, 168);
    color: white;
    border: 3px solid ivory;
} */

.splash-border-manipulation {
    display: flex;
    align-items: center;
    margin-left: 35px;
}

.splash-border {
    border-bottom: 1px solid gray;
    height: 18px;
    width: 135px;

}

.splash-border-or {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Lucida Sans Unicode';
    color: white;
    font-size: 15px;
    width: 30px;
    top: 9px;
}

/* .splash-login-and-txt {
    width: 300px;
    height: 100px;
} */

.splash-login-question {
    height: 20px;
    width: 250px;
    margin-top: 120px;
    margin-bottom: 0px;
    font-family: 'Lucida Sans Unicode';
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-left: 35px;
}

.splash-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1400px;
    height: 50px;
}

.about-link {
    color: white;
    font-family: 'Lucida Sans Unicode';
    text-decoration: underline;
    cursor: pointer;
    font-size: 20px;
    margin-right: 100px;
}

#scroll-container {
    display: flex;
    overflow: hidden;
    width: 1300px;
    font-size: 15px;
}

#scroll-text {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -moz-animation: my-animation 25s linear infinite;
    -webkit-animation: my-animation 25s linear infinite;
    animation: my-animation 25s linear infinite;
}

@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
