.profile-all-wrap {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    height: 100vh;
}

/* .profile-left {
    position: fixed;
    top: 0%;
    bottom: 0%;
}

.profile-right {
    position: fixed;
    right: 0%
} */
