.profile-all-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    height: 100%;
    overflow-y: scroll;
}

.profile-all-wrap::-webkit-scrollbar {
    display: none;
}

.profile-all-left {
    width: 650px;
    /* position: fixed;
    left: 0; */
}

.profile-all-center::-webkit-scrollbar {
    display: none;
}

.profile-all-center {
    width: 600px;
    overflow-y: scroll;
}

.profile-all-right {
    width: 650px;
    /* position: fixed;
    right: 0; */
}
