.profile-queets-wrap {
    border-top: 1px solid rgb(84, 84, 84);
    width: 500px;
}

.profile-queets:hover {
    background-color: #2c3d4d;
    transition: all;
    transition-duration: 200ms;
}

.profile-queets-profile-pic {
    height: 44px;
    width: 44px;
    border-radius: 22px;
    margin-left: 15px;
}

.profile-queets {
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 12fr;
    padding-top: 15px;
    border-bottom: 1px solid rgb(84, 84, 84);
}

.profile-queet-link {
    text-decoration: none;
    cursor: pointer;
}

.requeet-icon {
    height: 20px;
    width: 20px;
}

.timestamp {
    color: gray;
    margin-left: 12px;
}

.profile-feed-queet-names {
    display: flex;
    align-items: center;
    height: 30px;
}

.profile-feed-queet-username-and-edit-btn {
    width: 430px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
}

.profile-feed-queet-username {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Lucida Sans Unicode';
    height: 100%;
    width: 100%;
}

.profile-feed-queet-icon-and-stat {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-feed-queet {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 14px;
    padding-left: 10px;
    font-family: 'Lucida Sans Unicode';
    margin-right: 15px;
    width: 430px;
    resize: none;
    border: none;
    outline: none;
    background-color: transparent;
    overflow-x: hidden;
    word-wrap: break-word;
}

.profile-feed-queet-content-lines {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 410px;
}

.profile-feed-queet-stat {
    margin-left: 5px;
}

.profile-feed-queet-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0%;
}

.profile-feed-queet-img-container {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.profile-feed-queet-img {
    max-width: 95%;
    max-height: 500px;
    border-radius: 10px;
}
