.profile-edit-btn {
    background-color: transparent;
    border: 1px solid gray;
    color: white;
    font-weight: bold;
    height: 35px;
    width: 110px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 15px;
    font-family: 'Lucida Sans Unicode';
}
