.add-comment-wrap {
    border-bottom: 1px solid rgb(84, 84, 84);
}

.add-comment-input {
    height: 155px;
    width: 100%;
    resize: none;
    font-size: large;
    outline: none;
    border: none;
    height: 70px;
    background-color: transparent;
    color: white;
    margin: 5px;
    font-family: 'Lucida Sans Unicode';
    padding-top: 20px;
}

.add-comment-input-and-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.add-comment-replying-to-container {
    display: flex;
    align-items: center;
}

.add-comment-replying-to-txt {
    margin-left: 10px;
    color: gray;
    font-family: 'Lucida Sans Unicode';
}

.add-comment-replying-to-user {
    text-decoration: none;
    color: #b83dba;
    font-family: 'Lucida Sans Unicode';
    margin-left: 5px;
}

.add-comment-btn {
    font-family: 'Lucida Sans Unicode';
    background-color: #b83dba;
    border: none;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 80px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 15px;
}

.add-comment-btn:disabled {
    opacity: 40%;
    cursor: default;
}

.add-comment-profile-pic:hover {
    opacity: 0.7;
}

.add-comment-profile-pic {
    height: 44px;
    width: 44px;
    border-radius: 22px;
    margin-left: 15px;
    margin-top: 15px;
}

.add-comment-form {
    display: grid;
    grid-template-columns: 1fr 12fr;
}
