.single-comment-wrap {
    border-left: 1px solid rgb(84, 84, 84);
    border-right: 1px solid rgb(84, 84, 84);
    color: white;
    border-bottom: 1px solid rgb(84, 84, 84);
}

.comment {
    font-weight: bold;
    color: white;
    margin-left: 15px;
    font-family: 'Lucida Sans Unicode';
    font-size: 20px;
}

.comment-and-back-button {
    display: flex;
    align-items: center;
}

.single-comment-back-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 5px;
}

.single-comment-back-button {
    text-decoration: none;
    color: white;
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 15px;
}

.single-comment-back-btn-container:hover {
    background-color: #27323d;
    transition: all;
    transition-duration: 200ms;
}

.single-comment-pic-names-and-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.single-comment-pic-and-names {
    display: flex;
    align-items: center;
}

.single-comment-profile-pic {
    height: 44px;
    width: 44px;
    border-radius: 22px;
    margin-left: 15px;
}

.single-comment-names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

.single-comment-username {
    color: gray;
    font-family: 'Lucida Sans Unicode';
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
}

.single-comment-display-name {
    display: flex;
    align-items: flex-end;
    font-family: 'Lucida Sans Unicode';
    font-weight: bold;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.single-comment {
    font-family: 'Lucida Sans Unicode';
    font-size: 23px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.single-comment-timestamp {
    border-bottom: 1px solid rgb(84, 84, 84);
    margin-left: 15px;
    margin-right: 15px;
    color: gray;
    padding-bottom: 5px;
}

.single-comment-stats {
    border-bottom: 1px solid rgb(84, 84, 84);
    color: gray;
    margin-left: 15px;
    margin-right: 15px;
}

.single-comment-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(84, 84, 84);
    color: gray;
    padding-left: 15px;
    padding-right: 15px;
}

.single-comment-icon-and-stat {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .single-username-and-edit-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.single-comment-icon-info {
    margin-left: 5px;
}
