.timeline-all-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    overflow-y: scroll;
}

.timeline-all-wrap::-webkit-scrollbar {
    display: none;
}

/* .timeline-all-left {
    position: fixed;
    left: 0;
} */

.timeline-all-center::-webkit-scrollbar {
    display: none;
}

.timeline-all-center {
    overflow-y: scroll;
}

/* .timeline-all-right {
    position: fixed;
    right: 0;
} */
