.timeline-single-comment-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    overflow-x: hidden;
}

/* .profile-all-wrap::-webkit-scrollbar {
    display: none;
} */

.timeline-single-comment-left {
    width: 500px;
}

/* .profile-all-center::-webkit-scrollbar {
    display: none;
} */

.timeline-single-comment-center {
    width: 510px;
    border-left: 1px solid rgb(84, 84, 84);
    border-right: 1px solid rgb(84, 84, 84);
    height: 99vh;
    overflow-x: hidden;
}

.timeline-single-comment-right {
    width: 500px;
}
